dill==0.3.9
matplotlib==3.10.7
multiprocess==0.70.17
neuromaps==0.0.5
nibabel==5.3.2
nltools==0.5.1
numpy==2.3.5
pandas==2.3.3
scikit_learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
surfplot==0.2.0
termcolor==3.2.0
torch==2.5.1
tqdm==4.66.6
